<html>
  <head>
    <meta charset="utf-8" />
    <style>
      h1,
      h2,
      h3 {
        text-align: center;
      }

      h1 {
        margin-bottom: 0px;
      }

      h2 {
        margin: 5px 0 50px 0;
      }

      h3 {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>초과주차료 납부안내문</h1>

    <h2>코오롱싸이언스밸리 2차 <b>{{room}}</b> 호</h2>
    <b>적용기간</b> : {{startDate}} ~ {{endDate}} <br />
    <b>금액</b> : ￦{{amount}} 원 <br />
    <br />
    상기금액을 <b>{{deadlineDate}}</b> 까지 <br /><br />
    <b>계좌번호</b><br />
    기업은행 078-100792-01-027 <br />
    하나은행 133-910035-72604 <br />
    우리은행 1005-201-117251 <br />
    <br />
    <b>예금주</b><br />
    코오롱싸이언스밸리 2차 운영위원회 <br /><br />

    위 계좌로 입금하여 주시기 바랍니다.

    <h3>코오롱싸이언스밸리 2차 운영위원회</h3>
  </body>
</html>
